.inputGroup {
  display: flex;
  flex-direction: column;

  &__label {
    display: flex;
    flex-direction: column;
    font-size: 14px;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    width: 100%;
    line-height: 17px;
    & + & {
      margin-top: 20px;
    }
  }
  &__input {
    margin-top: 1px;
  }
}
