@font-face {
  font-family: "Inter";
  src: local("Inter"), url("/Inter-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "Inter";
  src: local("Inter"), url("/Inter-Medium.ttf") format("truetype");
  font-weight: 500;
}

html {
  height: 100%;
}
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}
